.fancy-header {
    color: red;
    text-decoration: underline;
}
h1 {
    text-align: center;
}
.background {
    background-color: lightslategrey;
    background-image: url(../images/smoke.jpeg);
}
.text {
    color: darkred;
    text-align: center;
}
.list {
    list-style: inside url("../images/7rw56L01.svg");
}
.contain {
    object-fit: scale-down;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
